body {
    font-family: "Inter", system-ui;
    text-align: center;
}

img {
    height: 150px;
    width: 150px;

}

p, ul {
    border-bottom: 8px;
}

h1 {
    font-weight: 700;
    margin-top: 1.5rem;
}

.weather-text {
    color: #E38B29;
}

h2 {
    font-weight: 400;
    margin-top: 12px;
}

h5 {
    display: inline;
    margin-bottom: 0px;
    margin-left: 8px;
    color: #E38B29;
}

.navigation {
    color: #E38B29;
}

.navigation:hover {
    color: #E38B2990;
}

.home {
    background-color: #E38B29;
    border-radius: 8px;
    color: white;
}

.home:hover {
    background-color: #E38B2990;
    color: white;
}

.signup {
    background-color: #E38B29;
    color: white;
}

.signin {
    border: 1px solid #E38B29;
    color: #E38B29;
}

.signup:hover {
    background-color: #E38B2990;
    color: white;
}

.signin:hover {
    background-color: #E38B29;
    color: white;
}

[type="text"], [type="submit"] {
    font-size: 20px;
    font-weight: 300;
    color: white;
    background-color: #E38B29;
    padding: 12px;
    border: none;
    border-radius: 12px;
}

[type="text"] {
    background-color: white;
    border: 1px solid black;
    color: black;
    width: 25%;
}

[type="submit"]:hover {
    background-color: #E38B2990;
}

::placeholder {
    color: black;
  }

form {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.temp-container {
    background-color: #E38B29;
    align-content: center;
    display: flex;
    flex-direction: column;
    width: 60%;
    margin: auto;
    border-radius: 20px;
    padding: .5rem 1.5rem;
    color: white;
}

.start {
    align-self: flex-start;
    margin: .5rem 0;
}

.middle {
    font-size: 130px;
    font-weight: 600;
    margin: 1.5rem 0;
}

.last {
    display: flex;
    justify-content: space-evenly;
    margin: .5rem 0;
}